<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-4 my-auto">
            <mat-card>
                <mat-card-header class="justify-content-center">
                    <mat-card-title>Register</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <!-- put the form here -->
                    <form>
                        <div class="d-flex">
                            <mat-form-field class="pr-4 mr-auto w-50">
                                <input matInput placeholder="First Name" [(ngModel)]="FirstName" name="FirstName"
                                    required>
                            </mat-form-field>
                            <mat-form-field class="w-50">
                                <input matInput placeholder="Last Name" [(ngModel)]="LastName" name="LastName" required>
                            </mat-form-field>
                        </div>
                        <mat-label>Gender</mat-label>
                        <mat-radio-group [(value)]="Gender">
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                        </mat-radio-group>
                        <br>
                        <!-- <mat-form-field>
                            <mat-label>Describe</mat-label>
                            <textarea [(ngModel)]="Description" name="Description" matInput></textarea>
                        </mat-form-field> -->
                        <mat-form-field class="pr-4 w-50">
                            <mat-label>Date of Birth</mat-label>
                            <input [value]="date.value" matInput [matDatepicker]="myPicker" placeholder="date" required>
                            <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
                            <mat-datepicker #myPicker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Category</mat-label>
                            <mat-select [(value)]="Category" placeholder="Category" (selectionChange)="onChange($event.value)">
                                <mat-option value="Student">Student</mat-option>
                                <mat-option value="Parent">Parent</mat-option>
                                <mat-option value="Teacher">Teacher</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <!-- put buttons here -->
                    <button mat-raised-button (click)="saveContact()" color="primary">Register</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <!-- Content here -->
</div>